
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/*------ MAIN PAGE CSS ------------ */

/*-----------HEADER---------------*/

.header {
    background-color: var(--primary-background-color);
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    justify-content: space-between;
}


.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    /* gap: 40px; */
}

.navigation-list-item:not(:last-child) {
    margin-right: 40px;
}

.navigation-link {
    display: block;
    padding-top: 24px; 
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--base-transition);
}

.logo-link {
    margin-right: 76px;
}

.is-active {
    position: relative;
    color: #404BBF;
}

.is-active::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: #404BBF;;
    border-radius: 2px;
    bottom: -1px;
}

.navigation-link:hover {
    color: var(--accent-color);
}

.navigation-link:focus {
    color: var(--accent-color);
}

.adress {
    font-style: normal;
}

.adress-list {
    display: flex;
    gap: 40px;
}

.adress-link {
    display: block;
    padding-top: 24px; 
    padding-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--base-transition);
}

.adress-link:hover,
.adress-link:focus {
    color: var(--accent-color);
    transition: color var(--base-transition);
}

.burger-menu-btn {
    display: none;
}

/*---------------HERO-------------*/

.hero-section {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 188px 0;
    text-align: center;
    background-color: var(--tertiary-background-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/webstudio/hero-background/desktop/hero-img1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
      url(../images/webstudio/hero-background/desktop/hero-img2x.jpg);
  }
}

.main-header {
    max-width: 496px;
    margin: 0 auto;
}



/*------------------FEATURES--------*/

.features-section {
    padding: 120px 0;
}

.features-list {
    gap: 24px;
}

.features-list-item {
    /* flex-basis: calc(100% / 3 - 24px); */
    flex-basis: calc((100% - 72px) / 4);
}

/* .features-list-item:not(:last-child) {
    margin-right: 24px;
} */

.features-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #F4F4FD;
    border-radius: 4px;
}

.features-header {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--section-header-color);
}

.features-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    }

/*----------OCCUPATION------------*/

.occupation-section {
    padding-bottom: 120px;
}

.occupation-header {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--section-header-color);
}

.occupation-list {
    display: flex;
    gap: 24px;
}

.occupation-list-item {
    /* width: calc((100% - 48px) / 3); */
    flex-basis: calc(100% / 2 - 24px);
}

/* .occupation-list-item:not(:last-child) {
    margin-right: 24px;
} */



/*---------------TEAM---------*/

.team-section {
    padding: 120px 0;
}

.team-header {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--section-header-color);
}

.team-list {
    gap: 24px;
}

.team-list-item {
    flex-basis: calc(100% / 3 - 24px);
    /* flex-basis: calc((100% - 24px * 3) / 4); */
}

/* .team-list-item:not(:last-child) {
    margin-right: 24px;
} */

/* -----------------CUSTOMERS-------------------- */

.customers-section {
    padding: 120px 0;
}

.customers-list {
    gap: 24px;
}

.customers-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

/*--------------------FOOTER----------------------*/


.footer {
    padding: 100px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
    text-align: start;
}

.footer-logo-container {
    margin-right: 120px;
}


.footer-text {
    width: 264px;
}

.studio-social-container {
    margin-right: 80px;
}

.footer-form {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-form-input {
    margin-bottom: 0;
    opacity: 1;
    width: 264px;
    height: 40px;
    padding: 8px 16px 8px 16px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    transition: border var(--base-transition);
}

.footer-form-input:focus, 
.footer-form-input:hover {
    border: 1px solid var(--accent-color);
}

.footer-form-input::placeholder {
    color: #FFFFFF;
}

.subscribe-btn {
    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px 8px 24px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    transition: background-color var(--base-transition);
}

.mobile-menu {
    display: none;
}


