/*------- Variables ------------*/
:root {
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --section-header-color: #2E2F42;
    --accent-color: #404BBF;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #E5E5E5;
    --tertiary-background-color: #2E2F42;
    --quaternary-background-color: #F4F4FD;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
a {
    color: inherit;
    text-decoration: none;
}
  
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
  
textarea {
    resize: none;
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}
  
  /* .img-box {
    width: 800px;
    border: 1px solid red;
  } */
  
button {
    padding: 0;
    border: none;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
}
  

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--secondary-text-color);
    background-color: var(--primary-background-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* .list {
    list-style: none;
} */

/* .link {
    text-decoration: none
} */

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/*------ MAIN PAGE CSS ------------ */

/*-----------HEADER---------------*/

.header {
    background-color: var(--primary-background-color);
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.logo-link {
    margin-right: 76px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}


.logo {
    color: var(--primary-text-color);
}

.navigation {
    display: flex;
    align-items: center;
    /* padding: 24px 0; */
    /* margin-right: auto; */
}

.navigation-list {
    display: flex;
    /* gap: 40px; */
}

.navigation-list-item:not(:last-child) {
    margin-right: 40px;
}

.navigation-link {
    display: block;
    padding-top: 24px; 
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.navigation-link:hover {
    color: var(--accent-color);
}

.navigation-link:focus {
    color: var(--accent-color);
}

.adress {
    font-style: normal;
}

.adress-list {
    display: flex;
    /* padding: 24px 0; */
    gap: 40px;
}

.adress-link {
    display: block;
    padding-top: 24px; 
    padding-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.adress-link:hover,
.adress-link:focus {
    color: var(--accent-color);
}

/*---------------HERO-------------*/

.hero-section {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 188px 0;
    text-align: center;
    background-color: var(--tertiary-background-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-header {
    max-width: 496px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-btn {
    margin: 0 auto;
    margin-top: 48px;
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    border: 0;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent-color);
    cursor: pointer;
}

/*------------------FEATURES--------*/

.features-section {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-list-item {
    /* flex-basis: calc(100% / 3 - 24px); */
    flex-basis: calc((100% - 72px) / 4);
}

/* .features-list-item:not(:last-child) {
    margin-right: 24px;
} */

.features-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #F4F4FD;
    border-radius: 4px;
}

.features-header {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--section-header-color);
}

.features-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    }

/*----------OCCUPATION------------*/

.occupation-section {
    padding-bottom: 120px;
}

.occupation-header {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--section-header-color);
}

.occupation-list {
    display: flex;
    gap: 24px;
}

.occupation-list-item {
    /* width: calc((100% - 48px) / 3); */
    flex-basis: calc(100% / 2 - 24px);
}

/* .occupation-list-item:not(:last-child) {
    margin-right: 24px;
} */



/*---------------TEAM---------*/

.team-section {
    padding: 120px 0;
    background-color: var(--quaternary-background-color);
}

.team-header {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--section-header-color);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    flex-basis: calc(100% / 3 - 24px);
    /* flex-basis: calc((100% - 24px * 3) / 4); */
    background-color: white;
    border-radius: 0px 0px 4px 4px; 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* .team-list-item:not(:last-child) {
    margin-right: 24px;
} */

.employee-thumb {
    padding-top: 32px; 
    padding-bottom: 32px; 
    padding-left: 16px; 
    padding-right: 16px
}

.employee-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.position {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-link {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--accent-color);
}

.team-social-icon {
    fill: #f4f4fd;
}

/* -----------------CUSTOMERS-------------------- */

.customers-section {
    padding: 120px 0;
}

.customers-header {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--section-header-color);
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    color: #8e8f99;
}

.customers-icon {
    fill: #8e8f99;
}

.customers-link:hover,
.customers-link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon{
    fill: var(--accent-color);
}

/*--------------------FOOTER----------------------*/


.footer {
    padding: 100px 0;
    background-color: var(--tertiary-background-color);
}

.footer .container {
    display: flex;
    align-items: baseline;
    text-align: start;
}

.footer-logo-container {
    margin-right: 120px;
}

.footer-logo-link {
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-logo {
    color: #F4F4FD;
}

.footer-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.social-header {
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.studio-social-list {
    display: flex;
    gap: 16px;
}

.studio-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
}

.studio-social-link:hover,
.studio-social-link:focus {
    background-color: #31D0AA;
}

.studio-social-icon {
    fill: #f4f4fd;
}

/*---------------PORTFOLIO CSS----------*/


.portfolio-section {
    padding: 96px 0 120px 0;
}

.filter-list {
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* .filter-list-item:not(:last-child) {
    margin-right: 24px;
} */

.filter-btn {
    padding: 12px 24px;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}

.filter-btn:hover,
.filter-btn:focus {
    cursor: pointer;
    background-color: #404BBF;
    color: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    /* for -margin
    margin-top: -48x;
    margin-left: -24px; */
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    /* flex-basis: calc(100% / 3 - 24px); */
    /* for -margin
    margin-left: 24px;
    margin-top: 48px; */

    /* padding-bottom: 32px; */
    /* width: calc((100% - 48px) / 3); */
    /* border: 1px solid #E7E9FC; */

    background-color: #FFFFFF;
}

/* .portfolio-list-item:nth-child(3n+1),
.portfolio-list-item:nth-child(3n+2) {
    margin-right: 24px;
}

.portfolio-list-item:nth-child(-n + 6) {
    margin-bottom: 48px;
} */

.portfolio-list-link {
    display: block;
    outline: none;
}

.portfolio-list-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-thumb {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-list-header {
    /* margin-top: 32px;
    padding-left: 16px; */
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.portfolio-list-description {
    /* margin-top: 8px;
    padding-left: 16px; */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}